:root {

    --backcolor: #1A1A1D; 
    --mediumcolor: #190061;
    --fontcolor: #C3073F;
    --fontcolor2: #950740;
    --fontcolor3: #6F2232;

}

@keyframes carousel-animation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

@keyframes gradient {

    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

html{

    overflow-x: hidden;
    max-width: 100dvw;
    max-height: 300dvh;
    scroll-behavior: smooth;

}

body{

    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: var(--backcolor);
    overflow: hidden;
    position: relative;

}

.blurry{

    position: absolute;
    height: 100%;
    width: 100%;

    z-index: -1;

}

.blurry > #circle1{

    background: linear-gradient(-45deg, #ee0979, #ff6a00);
    background-size: 400% 400%;

    border-radius: 100%;
    width: 50dvw;
    height: 50dvw;

    margin-top: -30dvh;
    margin-left: -20dvh;

    animation: gradient 3s ease infinite;

    border-radius: 50%;

}

.blurry > #circle2{

    position: absolute;

    background-color: #ff6a00;

    height: 30dvw;
    width: 30dvw;

    opacity: 60%;

    border-radius: 100%;

    filter: blur(150px);

    margin-top: -70dvh;
    margin-left: 90dvw;

}

.blurry > #circle3{

    position: absolute;

    background: linear-gradient(-45deg, #ee0979, #ff6a00);

    border-radius: 100%;
    width: 20dvw;
    height: 20dvw;

    top: 200dvh;
    left: 50dvw;

    border-radius: 50%;

}

.blurry > #circle4{

    position: absolute;

    background-color: #ee0979;

    width: 25dvw;
    height: 25dvw;

    opacity: 30%;

    filter: blur(200px);

    top: 120dvh;
    left: -10dvw;

}


.navbar{

    max-width: 100%;
    height: 10dvh;

    display: flex;

}

.navbar > .header{

    display: flex;

    height: 100%;
    width: 50%;

    justify-content: center;
    align-items: center;

}

.navbar > .header h1{

    display: flex;

    justify-content: left;
    align-items: center;

    padding-left: 2dvw;

    height: 100%;
    width: 100%;

    font-size: 2dvw;
    font-weight: 700;

    margin-block-start: 0;
    margin-block-end: 0;

    color: white;
}

.navbar > .list{

    display: flex;

    height: 100%;
    width: 100%;

    justify-content: right;
    align-items: center;

}

.navbar > .list ul{

    display: flex;
    list-style-type: none;

    align-content: flex-end;

    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;

}

.navbar > .list ul li{

    color: white;
    font-size: medium;
    font-size: 1dvw;
    padding: 2dvw;

}

.navbar > .list ul li a{

    color: white;
    text-decoration: none;

    transition: 0.5s ease-in-out;

}

.navbar > .list ul li a:hover{

    transform: translateY(-0.5rem);
    color: var(--fontcolor);

}

.maincontent{

    height: 90dvh;
    max-width: 100%;

    display: flex;

    justify-content: center;
    align-items: center;

}

.maincontent > .big{

    color: white;

    text-align: center;

}

.maincontent > .big h1{

    font-size: 5dvw;

    margin-block-start: 0;
    margin-block-end: 0;

}




/* ABOUT */

.about{

    width: 100dvw;
    height: 100dvh;

    display: flex;
    flex-direction: column;

    align-items: center;

}

.about > .title{

    position: absolute;

    width: 100dvw;

    color: white;

    display: flex;

    justify-content: center;
    align-items: center;

}

.mainabout {

    color: white;
    width: 100%;
    height: 100%;

    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

}

.mainabout h1{

    color: white;
    font-size: 6dvw;

    margin-block-start: 0;
    margin-block-end: 0;

}

.mainabout img{

    position: absolute;
    z-index: -1;
    opacity: 10%;

    transition: 3s;

}


.mainabout:hover img{

    opacity: 20%

}






/* PORTOFOLIO */

.portofolio{



}


.portofolio #circle3{

    opacity: 80%;

}


.portofolio > .title{

    color: white;
    font-size: 10dvw;

    margin-left: 4dvw;

}


.portofolio > .title h1{

    margin-block-start: 0;
    margin-block-end: 0;

    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;

}

.box{

    margin-top: 5dvh;

    width: 80dvw;
    padding: 4dvw;

    display: flex;


}

.boxseparator{

    width: 80dvw;
    margin-left: 4dvw;

}

.boxseparator hr{

    background-image: linear-gradient(-45deg, #ee0979, #ff6a00);
    width: 4px;

}

.textbox{

    width: 20dvw;

    flex-direction: column;
    color: white;
    padding: 0;

    text-align: justify;

}

.textbox h1{

    color: white;
    padding: 0;

    font-size: 3dvw;

    margin-block-start: 0;
    margin-block-end: 0;

    text-align: justify;

}

.boxtitle{

    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 60dvw;

}

.boxtitle{

    display: flex;

}

.boxtitle h1{

    display: inline-block;
    margin-block-start: 0;
    margin-block-end: 0;

}

.boxtitle p{

    margin-block-start: 0;
    margin-block-end: 0;

    font-size: 1dvw;

    opacity: 50%;

}

.boxtitle h1 a{

    display: block;

    color: white;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 8dvw;
    text-decoration: none;

    margin-block-start: 0;
    margin-block-end: 0;

    transition: .3s;
}

.boxtitle h1 a:hover{

    transform: translateY(-2dvh);
    color: #5e43f3;

}

.comingsoonbox{

    display: flex;
    width: 100dvw;

    justify-content: center;

    padding-top: 4dvh;

    color: white;

}

.comingsoon h1{

    font-family: 'Playfair Display';

    font-size: 5dvw;
    font-style: italic;

    margin-block-start: 0;
    margin-block-end: 0;

}

.contactform{
    
    width: 100dvw;
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;
    display: none;




}

.contactform > .contactcontainer{

    width: 50dvw;
    height: 70dvh;

    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.44);
    display: hidden;

    transition: .5s;

}

.contactform > .contactcontainer:hover{

    background: rgba(255, 255, 255, 0.15);

}

.behind{

    position: absolute;

    height: 23dvw;
    width: 23dvw;

    background: linear-gradient(-45deg, #ee0979, #ff6a00);
    z-index: -1;

    border-radius: 50%;
    display: hidden;

}

@media screen and (orientation: portrait) {
    
    .navbar > .header h1{

        font-size: 4dvh;
        padding-left: 4dvw;

        

    }

    .navbar > .list ul li a{

        font-size: 3dvw;
        padding-right: 4dvw;

    }

}