:root {
    --background-color: #1a1a1a; /* Negro */
    --secondary-background-color: #2b2b2b; /* Negro ligeramente más claro */
    --terciary-background-color: #463267; /* Morado */
    --green-color: #00cc66; /* Verde */
    --secondary-text-color: #999999; /* Gris */
    --main-text-color: #ffffff; /* Blanco */
    --dark-purple-color: #1e1630; /* Púrpura oscuro */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
  
  
body{

    background-color: var(--background-color);
    width: 800px;
    margin: 0 auto;
    font-family: 'Roboto';
    color: var(--main-text-color);
    padding: 50px;
    border-left: 1px solid var(--secondary-background-color);
    border-right: 1px solid var(--secondary-background-color);

}

/*HEADER*/

.header-wrapper{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;

}

.header-wrapper > .image-wrapper{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;

}

.header-wrapper > .image-wrapper > img{

    width: 150px;
    border-radius: 100%;

}

.header-wrapper > .info-wrapper{

    width: 70%;

}

.header-wrapper > .info-wrapper > h1{

    font-weight: 900;
    margin: 0;

}

.header-wrapper > .info-wrapper > p{

    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--secondary-text-color);

}

/*Section*/

.section-title{

    font-size: 50px;
    font-weight: 900;

}

.default-section{

    display: flex;
    flex-direction: column;
    gap: 40px;

}

/*Portofolio cards*/

.portofolio-card{

    position: relative;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    background-color: var(--secondary-background-color);
    box-sizing: border-box;
    border-radius: 15px;
}

#globaldata::after{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #7b39ff, #c1a3fd);
    background-size: 400% 400%;
    animation: gradientAnimation ease infinite 5s;
    border-radius: 15px;
    filter: blur(3px);
    z-index: -1;

}

#spostats::after{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #1DB954, #5fe48e);
    background-size: 400% 400%;
    animation: gradientAnimation ease infinite 5s;
    border-radius: 15px;
    filter: blur(3px);
    z-index: -1;

}

#neron::after{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    filter: blur(3px);
    background: linear-gradient(45deg, #007dbb, #0080ff);

    z-index: -1;

}

.portofolio-card .preview{

    width: 50%;
    overflow: hidden;

}

.portofolio-card .preview img{

    width: 100%;
    border-radius: 15px;

}

.portofolio-card .info{

    width: 50%;
    display: flex;
    flex-direction: column;

    justify-content: center;

}

.portofolio-card .info h2{

    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 30px;

}

.portofolio-card .info .info-text{

    color: var(--secondary-text-color);
    margin-top: 0px;
    margin-bottom: 15px;

}

.portofolio-card .info .technologies{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 15px;

}

.portofolio-card .info .technologies img{

    height: 30px; 

}



/* Buttons */

.icons{

    display: flex;
    align-items: center;
    gap: 15px;
    height: 50px;

}

.icon-button{

    position: relative;
    height: 50px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid var(--secondary-text-color);

    transition: 0.2s;

}

.icon-button:hover{

    background-color: #5e5e5eff;

}

#linkedin{

    border: none;
    margin-top: 10px;
}

#linkedin::after{

    content: "";
    position: absolute;
    top: -5%;
    left: -3%;
    width: 106%;
    height: 111%;
    border-radius: 5px;
    background: linear-gradient(45deg, #007dbb, #c6efff);


    z-index: -1;

}

#github{

    border: none;
    margin-top: 10px;

}

#github::after{

    content: "";
    position: absolute;
    top: -5%;
    left: -3%;
    width: 106%;
    height: 111%;
    border-radius: 5px;
    background: linear-gradient(45deg, #2dba4e, #fafbfc);

    z-index: -1;

}

.icon-button p, a{

    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: var(--main-text-color);
    text-decoration: none;

}

.icon-button > img{

    opacity: 0%;
    margin-left: -25px;
    width: 15px;
    height: 15px;

    transition: 0.2s ease-in-out;

}

.icon-button:hover > img{

    opacity: 80%;
    margin-left: 0px;

    cursor: pointer;

}

.icon-button #github-icon{
    
    opacity: 100%;
    margin-left: 0;
    width: 30px;
    height: 30px;

}